@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background-color: #cfe4e9;
    background-image: url(back_blue.jpg)
    font-family: 'Lato', 'Tahoma', sans-serif;
    margin: 0px 0px;
    margin-bottom: 110px;
    width: 681px;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(82,179,217,0.9);
}

/* M E N U */

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 51px;
    background: rgba(82,179,217,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.name{
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}

/* P R O F I L E */
.profile {
	display: block;
	margin: 0 0 0 1rem;
    padding: 0 0 0 0;
    margin-top: 50px;
    margin-bottom: 10px;
}
.profile .profilePhoto {
	display: block;
	position: absolute;  
	top: 100px; 
	width: 30%;	
}
.profile img{
	display: block;
	width: auto;
	max-width: 320px;
	max-height: 350px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: red;
	margin-left: auto;
	margin-right: auto;
}
.profile .profileInfo{	
	display: inline-block;
    max-width: 320px;
	max-height: 400px;
	position: absolute; 
	right: 183px; 
	top: 80px; 
	width: 70%;
	font-family: 'Tahoma';
	font-size: 0.9rem;
    color: #5e5e5e;
}
.profileInfo .status{
	display: inline-block;
	width: auto;
	font-size: 1rem;
    color: #5e5e5e;
    word-wrap: break-word;
} 
.profileInfo hr{
    border: none; /* Убираем границу */
    background-color: #b0aeae; /* Цвет линии */
    color: #b0aeae; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}
.profileInfo i{
	margin-left: 10px
}
.profileInfo b:before{
	content:"\f098";        /*трубка перед "Контакты"*/
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}
.profileInfo .instagram:before{
	content:"\f16d";        /*трубка перед "Контакты"*/
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
.profileInfo .twitter:before{
	content:"\f099";        
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
.profileInfo .facebook:before{
	content:"\f09a";        
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
.profileInfo .skype:before{
	content:"\f17e";        
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
.profileInfo .website:before{
	content:"\f0ac";        
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 7px;
}
/* W A L L */

.wall {
	font-family: 'Tahoma';
    list-style: none;
    background: none;
    margin: 0 0 0 1rem;
    padding: 0 0 0 0;
    margin-top: 50px;
    margin-bottom: 10px;
}
.wall li {
	padding: 0.5rem;
    overflow: auto;
    display: flex;
}
.wall .postInfo {
	background-color: #f3f2ff;
	border-radius: 30px;
	border: 1px solid #dcd9fa;
	background-size: 100px 50px;
	position: relative;
}
.wall .postInfo .avatar {
	width: 50px;
    height: 50px;
    position: relative;
    display: inline;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.wall .postInfo .avatar img {
	width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.postInfo b {
	font-size: 1.2rem;
    margin: 0 0 0 2.5rem;
    margin-top: -15px;
    color: #616161;
    position: absolute;               /* 2 */
    top: 30%;                         /* 3 */
}
.postInfo time {
	position: absolute;
	top: 20%;
	font-size: 0.7rem;
    color: #858585;
    margin: 0 0 0 2.5rem;
    margin-top: 20px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.postInfo time:before {
	content:"\f017";        /*часики перед временем*/
    color: #858585;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

.wall .post .text {
    font-size: 0.9rem;
    color: #5e5e5e;
    word-wrap: break-word;
}
.wall .post .wallPhoto img{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.wall .post .wallRepost {
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px;
}
.wall .post .wallRepost h5:before{
    content:"\f045";        /*часики перед временем*/
    color: #404040;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 8px;
}
.wall .post .wallrepost .lable {
	font-size: 1rem;
    color: #040059;
}
.wall .post .wallrepost .text {
	font-size: 0.86rem;
    color: #666565;
    word-wrap: break-word;
}
.wallEmpty{
	display: block;
	position: absolute;  
	top: 200px; 
	left: 295px;
	font-size: 1.06rem;
    color: #666565;
}
.wallEmpty img{
	height: 99px;
}
.wallEmpty p{
	margin-left: -90px;
}

/* M E S S A G E S */

.chat {
	font-family: 'Tahoma';
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 0 0;
    margin-top: 50px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: auto;
    display: flex;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chatEmpty{
	display: block;
	position: absolute;  
	top: 200px; 
	left: 295px;
	font-size: 1.06rem;
    color: #666565;
}
.chatEmpty img{
	height: 99px;
}
.chatEmpty p{
	margin-left: -90px;
}

.self .avatar {
    order: 2;
}

.msg {
    background: white;
    border-radius: 20px;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    order: 1;
    border-bottom-right-radius: 0px;
}
.msg p {
    font-size: 0.9rem;
    margin: 0 0 0.4rem 0;
    color: #777;
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: -2px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";        /*часики перед временем*/
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

/* T Y P E */

input {
	border-radius: 20px;
}

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #f5f5f5;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
